<table>
  <tr>
    <th>Name</th>
    <th>Landmarks</th>
    <th>Titles</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>
    <td><%= @figure.landmarks %></td>
    <td><%= @figure.titles %></td>
  </tr>
<table>